table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, #table th {
    border: 1px solid #ddd;
    padding: 1rem;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding: 2rem 0;
    text-align: center;
    background-color: #7f65e9;
    color: white;
  }